<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #><#  
// CmdSet Guid must be defined before master template is included  
// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt  
Guid guidCmdSet = new Guid ("c14ba8cb-e4e3-401c-b66f-fc923e227abf");  
string menuidCommandsExtensionBaseId="0x4000";  
#><#@ include file="DslPackage\CommandExtensionVSCT.tt" #>