<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\DslDefinition.dsl'" #>
#pragma warning disable CS1591 // Missing XML comment for publicly visible type or member
#pragma warning disable CS1570 // XML comment has badly formed XML
<#@ include file="..\Templates\SerializationHelper.tt" #>
<#@ include file="..\Templates\MonikerAmbiguityValidation.tt" #>
<#
	GenerateMonikerAmbiguityValidation(this.DslLibrary);
#>